<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Java, C#</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">PHP</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">XML,JSON</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Angular9</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">SQL, MYSQL AND DB2</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">HTML,CSS,JS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
