<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/ramy.ashraf.14606/" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-twitter btn btn-link " href="https://www.linkedin.com/in/ramy-anber/" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/ramyanber94" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>