<div class="container">
  <div class="h4 text-center mb-4 title">Projects</div>
  <div class="card-deck">
    <div class="col-xs-2 col-sm-9 col-md-4 col-lg-4">
      <img src="assets/images/java photo.jpg" class="card-img-top" alt="Java">
      <div class="card-body">
        <h5 class="card-title">Java</h5>
        <p class="card-text">The project is aiming to help employees in libraries to manage their database. Also, I have used the camera to
           read the ISBN of the book to display all the information to the user.</p>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="col-xs-2 col-sm-9 col-md-4 col-lg-4">
      <img src="assets/images/javascript.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">JavaScript & PHP</h5>
        <p class="card-text">This project is continuing to the library project. Its goal is to interact with the user through 
          a web application to book and buy from the website. I have used PHP with JavaScript, HTML and CSS specifically 
          Bootstrap, to develop this project, and it's still in progress check Github.
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="col-xs-2 col-sm-9 col-md-4 col-lg-4">
      <img src="assets/images/Angular.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">I have built this website using Angular9, and there is another project I'm currently working on.
        </p>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>